<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles del Personaje</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>

<section class="section">

    <div class="container">

        <h1 class="title has-text-centered mb-4">Detalle del Personaje</h1>

        <div class="card">

            <div class="card-image">

                <figure class="image is-128x128 mx-auto">
                    <img th:src="${characterDetails.image}" alt="Character Image">
                </figure>

            </div>

            <div class="card-content has-text-centered">

                <div class="content">
                    <h2 class="title is-4" th:text="${characterDetails.name}"></h2>
                    <p><strong>Status:</strong> <span th:text="${characterDetails.status}"></span></p>
                    <p><strong>Species:</strong> <span th:text="${characterDetails.species}"></span></p>
                    <p><strong>Origen:</strong> <span th:text="${characterDetails.origin.name}"></span></p>
                    <p><strong>Loca
                        tion:</strong> <span th:text="${characterDetails.location.name}"></span></p>
                </div>

            </div>

            <div class="card-footer is-center">
                <a th:href="@{/}" class="button is-primary is-center"
                   style="margin: 0 auto !important;">Atras</a>
            </div>

        </div>

    </div>

</section>

</body>
</html>
