<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Rick and Morty Characters</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

<div class="container">
    <h1 class="mb-4 text-center">Rick and Morty</h1>

    <!-- Formulario de búsqueda -->
    <form th:action="@{/}" method="get" class="mb-3 fixed-search">
        <div class="input-group shadow-lg rounded">
            <input type="text" class="form-control" autocomplete="false" name="search" placeholder="Search">
            <!-- Campo de búsqueda por especie -->
            <select class="form-control" name="species">
                <option value="">All species</option>
                <option value="Human">Human</option>
                <option value="Alien">Alien</option>
            </select>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <!-- Alerta cuando no se encuentran personajes -->
    <div th:if="${characters.size() == 0}" class="alert alert-warning" role="alert">
        No characters with the specified name were found. Try again
    </div>

    <!-- Tarjetas de personajes -->
    <div class="row">
        <div th:each="character : ${characters}" class="col-md-4 mb-4">
            <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <img th:src="${character.image}" class="card-img-top" alt="Character Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${character.name}"></h5>
                    <a th:href="@{/characterDetails/{id}(id=${character.id})}" class="btn btn-primary">More info</a>
                </div>
            </div>
        </div>
    </div>


</div>

</body>

</html>